.gradle
build/

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Cache of project
.gradletasknamecache

# # Work around https://youtrack.jetbrains.com/issue/IDEA-116898
# gradle/wrapper/gradle-wrapper.properties
.idea/workspace.xml
*.log
addressbook-web-tests/.idea/compiler.xml
addressbook-web-tests/.idea/workspace.xml
addressbook-web-tests/.idea/compiler.xml
addressbook-web-tests/.idea/gradle.xml
addressbook-web-tests/.idea/jarRepositories.xml
addressbook-web-tests/.idea/misc.xml
addressbook-web-tests/.idea/uiDesigner.xml
addressbook-web-tests/.idea/vcs.xml
